<div class="panel panel-default announcements">
	<div class="panel-heading">
	    <i class="fa fa-comments-o fa-fw"></i> Announcements
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		<div class="panel panel-default announcement">
			<div class="panel-heading">
			    Welcome to Radix!
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<h4>What is Radix?</h4>
				<hr>
				<p>Radix is the home portal application for Xpanxion. The goal of Radix is to centralize important
				information and tools to help better organize our employees and daily activities.</p>
				<br>
				<h4>Feedback?</h4>
				<hr>
				<p>Is something broken? Want to see a new feature? We'd love to hear from you. Send an email to 
				ADMIN with more information so we can improve Radix right away!</p>
				<br>
				<h4>Want to Contribute?</h4>
				<hr>
				<p>For the people and by the people. Xpanxion Radix is developed in-house and is a great 
				stomping ground for employees wishing to obtain real-world software development experience. 
				Send an email to LEAD_DEV and join the Radix team!</p>
			</div>
		</div>
	<!-- /.panel-body -->
	</div>